.syv{
    margin: $ii;
    @include flex(column);
}

.syv__li{
    margin-top: $ii;
    margin-bottom: $ii;
    background-color:map-get($colores, "color-cards" );
    @include flex(row);
    align-items: center;
}

.syv__li h5{
    color: map-get($colores, "color-sw" );
    @extend %ta;
    font-size: 1.75vw;
}

.syv__li__img{
    padding: 1vw;
    width: 25vw;
    height: 15vw;
}

.syv__li__img:hover{
    transform: scale(1.10);
    transition: all 2s;
}

.invertido{
    align-self: flex-end;
    flex-direction: row-reverse;
}